@font-face {
    font-family: Blanka;
    src: url(Blanka-Regular.otf);
}     

@font-face {
    font-family: helix;
    src: url('HeliosExt.otf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 2px solid red; */
}

html{
    scroll-behavior: smooth;
}       

body {
    background-color: #06002E;
}

/* { */
    
    /* Home Page */

    #homeImgA  {
        width: 15vw;
        position: relative;
        top: -20px;
        left: 40px;
    }

    nav {
        position: absolute;
        width: 70vw;
        top: 50px;
        right: 50px;
    }

    nav>ul {
        display: flex;
        color: white;
        font-family: monospace;
        font-size: 1.1rem;
        justify-content: space-evenly;
        list-style: none;
    }

    nav>ul>li {
        padding-bottom: 10px;
        /* border-bottom: 2px solid white; */
        letter-spacing: 4px;
        font-family: Blanka;
    }


    nav>ul>li:hover {
        cursor: pointer;
        animation-name: line;
        animation-duration: 1s;
        animation-iteration-count: infinite;
    }

    @keyframes line {
        0% {
            border-bottom: 0.6px solid white;
        }

        20% {
            border-bottom: 0.9px solid violet;
        }

        30% {
            border-bottom: 1.2px solid indigo;
        }

        40% {
            border-bottom: 1.5px solid blue;
        }

        50% {
            border-bottom: 1.8px solid green;
        }

        60% {
            border-bottom: 2.1px solid yellow;
        }

        70% {
            border-bottom: 2px solid orange;
        }

        80% {
            border-bottom: 2px solid red;
        }

        90% {
            border-bottom: 2px solid white;
        }

        100% {
            border-bottom: 2px solid white;
        }
    }

    nav>ul>li>a{
        color: white;
        text-decoration: none;
    }


    #content {
        margin-top: 50px;
        color: white;
        width: 60vw;
        height: 50vh;
        position: relative;
        left: 48px;
        font-family: helix;
        font-size: 1.9rem;
        line-height: 70px;
        filter: drop-shadow(4px 2px 1px #ababee);
    }

    #l1 {
        display: flex;
        width: 70%;
        /* max-height: 20vh; */
        justify-content: space-between;
    }

    #l1>img {
        height: 30vh;
        position: absolute;
        top: -109px;
        left: 228px;
    }


    #l3>h2>span {
        color: #C100CC;
    }

    #side {
        position: absolute;
        top: 200px;
        right: 70px;
    }




    #side>#int {
        width: 30vw;
        filter: brightness(0.8);
        filter: contrast(200%);
        filter: saturate(200%);
        filter: drop-shadow(0 0 0.75rem #bb6ee8);
    }


    #ring {
        position: relative;
        width: 12vw;
        height: 45vh;
        top: -50px;
        left: 300px;
        z-index: 10;
        filter: brightness(0.8);
        filter: contrast(200%);
        filter: saturate(200%);
        filter: drop-shadow(0 0 0.75rem #bb6ee8);
    }


    #help {
        color: white;
        position: absolute;
        width: 20vw;
        top: 530px;
        height: 6vh;
        left: 100px;
        border-radius: 7px;
        outline: none;
        border: none;
        background-image: linear-gradient(to right top, #0a4cb0, #4a54be, #715bcb, #9362d6, #b568e0);
    }

/* } */



/* { */

    /* About US */

    #container {
        position: relative;
        top: 100px;
        width: 80vw;
        height: 100vh;
        margin: auto;
        display: flex;
    }

    .border {
        width: 50%;
    }

    #gif>img {
        width: 100%;
    }

    #aboutUs {
        margin-top: 30px;
        
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #aboutUs>h1{
        position: relative;
        bottom: 40px;
        font-family: Blanka;
        color: white;
        font-size: 2.8rem;
        letter-spacing: 3px;
        word-spacing: 5px;
    }

    #aboutUs>p{
        font-size: 1.3rem;
        color: white;
        font-family: helix;
    } 

/* } */


/* { */

    /* Our Services */

    #heading>h1>span {
        font-family: Blanka;
        font-size: 72px;
        background: -webkit-linear-gradient(#0a4cb0, #4a54be, #715bcb, #9362d6, #b568e0);
        ;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        /* color:  */
    }

    #heading>h1 {
        font-family: Blanka;
        font-size: 72px;
        letter-spacing: 5px;
        color: white;
    }

    #heading {
        /* border: 2px solid white; */
        margin-top: 40px;
        width: 85vw;
        margin: 40px auto;
    }

    #services {
        /* border: 2px solid white;     */
        width: 90vw;
        overflow: hidden;
        margin: 0px 50px;
        height: 70vh;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
    }


    .serviceCard {
        border: 4px solid white;
        border-radius: 15px;
        width: 40%;
        margin: 30px;
        height: 35%;
        display: flex;
        background-color: #6E62CE;
    }

    .serImg {
        width: 40%;
        /* border: 2px solid red; */
        height: 100%;
        padding: 10px;
    }

    .serImg>img {
        width: 100%;
        height: 100%;
        border-radius: 15px;
    }

    .serDet {
        /* border: 2px solid red; */
        width: 60%;
        height: 100%;
        color: white;
        padding: 20px;

    }

    .serDet>h1 {
        font-size: 2.2rem;
        letter-spacing: 4px;
        font-family: Blanka;
    }

    .serDet>p{
        margin-top: 13px;
        font-family: helix;
    }


/* } */

/* { */

    /* Projects */

    .projects{
        /* background: url(Line\ Tech.png) ; */
        height: 100vh;
    }

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    @font-face {
        font-family: 'HeliosExt';
        src: url('HeliosExt.otf');
    }

    @font-face {
        font-family: 'Blanka-Regular';
        src: url('Blanka-Regular.otf');
    }

    @font-face {
        font-family: 'HeliosExt-Bold';
        src: url('HeliosExt-Bold.otf');
    }

    body {
        /* background: url(images/Line\ Tech.png); */

    }

    .projects {
        width: 100%;
        height: 100vh;

    }

    .projects .heading h1 {
        margin: 5%;
        font-size: 60px;
        font-family: 'Blanka-Regular';
        color: #fff;
        letter-spacing: 3px;
        text-shadow: 2px 2px 4px #000000;

    }

    .projects .heading h1 span {
        color: #D73CBE;
    }

    .projects .card {
        width: 250px;
        height: 350px;
        display: inline-block;
        border-top-right-radius: 35px;
        border-bottom-left-radius: 35px;
        background: rgb(0, 74, 173);
        background: radial-gradient(circle, rgba(0, 74, 173, 1) 0%, rgba(203, 108, 230, 1) 100%);
    }

    .caraousel {
        display: flex;
        justify-content: space-evenly;
    }

    .caraousel ul {
        display: flex;
        gap: 5%;

    }

    .caraousel ul li {
        list-style: none;
    }

    .card .image {
        width: 200px;
        height: 180px;
        border-top-right-radius: 35px;
        margin-top: 20px;
        /* background-image: url(images/image\ \(2\).png);
    background-size: cover; */
        background: #fff;
        margin-left: 10%;
    }
    .image>img{
        border-top-right-radius: 35px;
        width: 100%;
    }
    .card .heading {
        text-align: center;
        margin-top: 25px
    }

    .card .heading span {
        font-size: 17px;
        color: #fff;
        font-family: 'HeliosExt-Bold';
    }

    .card .para {
        text-align: center;
        margin-top: 15px;
    }

    .card .para p {
        color: #06002E;
        font-family: 'HeliosExt';
        font-size: 13px;
    }

    .projects .detail {
        margin: 5% 16%;
    }

    .projects .detail a button {
        border-radius: 50px;
        background: #D73CBE;
        font-size: 15px;
        padding: 10px;
        cursor: pointer;
        color: #fff;
        border: none;
        outline: none;
    }

    .projects .detail a button:hover {
        background: #f552da;
    }

    .projects .detail a button i {
        margin-left: 7px;
        background-color: #fff;
        color: #06002E;
        padding: 10px;
        border-radius: 50%;
    }

    .projects .detail a button i:hover {
        color: #D73CBE;
        background: #06002E;
    }


/* } */